/* :root {
    --accent: #1c71d8;
} */

.current {
    font-weight: bold;
}

nav, nav ul {
    flex-direction: column;
}

@media (min-width: 576px) {
    nav, nav ul {
    flex-direction: row;
    }
}