body {
  overflow: auto;
  background-color: black;
  color: #808080;
  font-family: 'Ubuntu', sans-serif;
  margin: 5%;
  text-align: left;
}

h1 {
  color: #deddda;
  font-family: 'Ubuntu', sans-serif;
  font-size: 500%;
  font-weight: 500;
  text-align: center;
}

h2 {
  color: #deddda;
  font-family: 'Ubuntu', sans-serif;
  font-size: 125%;
  font-weight: 500;
  text-align: left;
}

hr {
  border: dotted #808080 6px;
  border-bottom: none;
  width: 10%;
  margin: 50px auto;
}

.logo {
  background-color: #006699;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 5%;
  width: 50%;
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
  margin: 2%;
}

.div1 {
  background-color: #006699;
  margin: 20px 0px;
  padding: 5px;
  width: auto;

}

.title {
  color: #deddda;
  font-weight: bold;
  margin: 15px auto;
  text-align: center;
}

.footer {
  color: #404040;
  font-size: 75%;
  font-weight: lighter;
  text-align: center;
}

.menu {
  color: #808080;
  font-family: 'Ubuntu', sans-serif;
  font-size: 150%;
  font-weight: normal;
  text-align: center;
}

.info {
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
  font-weight: normal;
  padding-left: 25px;
}

.current_page {
  font-weight: bold;
}

a {
  color: #006699;
  text-decoration: none;
  padding: 2px;
}

a:hover {
  background-color: #006699;
  color: #deddda;
  text-decoration: none;
}

a:active {
  color: #408080;
  text-decoration: none;
}

a:visited {
  font-weight: lighter;
  text-decoration: none
}
